  /* .nbar {
    display: flex;
    justify-content: space-between;
  } */
  /* .din {
    align-items: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  } */

  .d1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .ud1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  li {
    list-style-type: none;
    padding: 10px 10px 10px 10px;
  }

  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    color: black;
  }

  a:hover {
    background-color: brown;
  }

  .table {
    border: "2px solid black";
    border-collapse: collapse;
  }
 